<!DOCTYPE html>
<html>
<head>
  <title>SSS Photos Module</title>
  <%= stylesheet_link_tag    'photos/application', media: 'all' %>
  <%= javascript_include_tag 'photos/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
