<!--
  Created by SSS:Photos Generator
-->

<div class="pure-menu pure-menu-horizontal">
  <a href="#" class="pure-menu-heading pure-menu-link">SSS Photos
    <% if defined? Devise %>
        <%= "USER_ID:#{current_admin.id}" if admin_signed_in?  %>
    <% end %>
  </a>
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      <%= link_to Photos::Gallery.model_name.human(count: 2.1), photos.admin_galleries_path, class: 'pure-menu-link' %>
    </li>
  </ul>
</div>
