/*
*= require pure-min
*= require cards
*/
.content {
    margin: 30px 50px 30px 50px;
}
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

