<table>
  <thead>
    <th>
      <%= Photos::Gallery.human_attribute_name('id') %>
    </th>
    <th>
      <%= Photos::Gallery.human_attribute_name('name') %>
    </th>
    <th>
      <%= Photos::Gallery.human_attribute_name('pic_count') %>
    </th>
  </thead>
  <tbody>

  </tbody>
</table>